<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OnlyBenefits</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var currentUser = localStorage.getItem("User");
      userCurrentNum = function(){
        document.getElementById("currentUser").innerHTML = currentUser;
      }
    </script>
    <script>
      var nodesEvents = [];
      var LoadListEvents = function () {
        $.ajax({
            type: "POST",
            async: false,
            url: "/loadEvents",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                try {
                  nodesEvents = JSON.parse(JSON.stringify(result))
                } catch (e) { }
                var sb = "";

                if (nodesEvents.length > 0) {
                    for (var i = 0; i < nodesEvents.length; i++) {
                        var obj = nodesEvents[i];
                        sb+=BuildItemEvents(obj);
                    }
                }
                $("#tbodyEvents").html(sb.toString());
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('XHR ERROR ' + xhr.status);
                console.log('Full ERROR ' + xhr.responseText);
                alert("Could not load page");
            }
        });
      };

      var BuildItemEvents = function (obj) {
        var sb = "";
        eventNum = 1;
        sb+='<tr>';
        sb+='<th scope="row" id="EventID'+eventNum.toString()+'">';
        sb+=obj["EventID"];
        sb+='</th>';
        sb+='<td id="EventDesc'+eventNum.toString()+'">';
        sb+=obj["EventName"];
        sb+='</td>';
        sb+='<td id="EventPoints'+eventNum.toString()+'">';
        sb+=obj["PointsReward"];
        sb+='</td>';
        sb+='</tr>';
        eventNum +=1;
        return sb
      };
      var nodesBenefits = [];
      var LoadListBenefits = function () {
        $.ajax({
            type: "POST",
            async: false,
            url: "/loadBenefits",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                try {
                  nodesBenefits = JSON.parse(JSON.stringify(result))
                } catch (e) { }
                var sb = "";

                if (nodesBenefits.length > 0) {
                    for (var i = 0; i < nodesBenefits.length; i++) {
                      var obj = nodesBenefits[i];
                        sb+=BuildItemBenefits(obj);

                    }
                }
                $("#tbodyBenefits").html(sb.toString());
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('XHR ERROR ' + xhr.status);
                console.log('Full ERROR ' + xhr.responseText);
                alert("Could not load page");
            }
        });
      };

      var BuildItemBenefits = function (obj) {
        var sb = "";
        BenNum = 1;
        sb+='<tr>';
        sb+='<th scope="row" id="BenCode'+BenNum.toString()+'">';
        sb+=obj["BenefitCode"];
        sb+='</th>';
        sb+='<td id="BenDesc'+BenNum.toString()+'">';
        sb+=obj["BenefitDescription"];
        sb+='</td>';
        sb+='<td id="BenCost'+BenNum.toString()+'">';
        sb+=obj["Cost"];
        sb+='</td>';
        sb+='</tr>';
        BenNum+=1;
        return sb
      };
    </script>
    <script>
      var RegisterObj = function () {
      var obj = new Object();
      obj.EventID = "";
      obj.EventPoints ="";
      obj.StudentNum = "";
      return obj;
    };
      var LoadItem = function (obj) {
      obj.StudentNum = localStorage.getItem("User");
      obj.EventID = eID;
      obj.EventPoints = eP;
      
      return obj;
    };
    var RegisterEventSave = function () {
      var obj = new RegisterObj();
      obj = LoadItem(obj);
              $.ajax({
                  type: "POST",
                  async: false,
                  url: "/registerEvent",
                  data: JSON.stringify(obj),
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (result) {
                    console.log("Result:");
                    console.log(result);                 
                  },
                  error: function (xhr, textStatus, errorThrown) {
                      console.log('XHR ERROR ' + xhr.status);
                      console.log('Full ERROR ' + xhr.responseText);
                      alert("Could not load page");
                  }
              });
    };
    </script>
        <script>
          var BenefitObj = function () {
          var obj = new Object();
          obj.BCode = "";
          obj.BPoints ="";
          obj.StudentNum = "";
          return obj;
        };
          var LoadItem = function (obj) {
          obj.StudentNum = localStorage.getItem("User");
          obj.BCode = bCode;
          obj.BPoints = bP;
          return obj;
        };
        var RedBenefitSave = function () {
          var obj = new BenefitObj();
          obj = LoadItem(obj);
                  $.ajax({
                      type: "POST",
                      async: false,
                      url: "/redeemBenefits",
                      data: JSON.stringify(obj),
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (result) {
                        console.log("Result:");
                        console.log(result);                 
                      },
                      error: function (xhr, textStatus, errorThrown) {
                          console.log('XHR ERROR ' + xhr.status);
                          console.log('Full ERROR ' + xhr.responseText);
                          alert("Could not load page");
                      }
                  });
        };
        </script>
    <script>
      $(document).ready(function () {
            LoadListBenefits();
            LoadListEvents();
            selectedRow();
            selectedBenefit();
            userCurrentNum();

        });
    </script>
  </head>
  <body  style="background-color:#02083d">

    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="home.html"><img src="../static/styles/img/logoob.png" alt="Avatar Logo" style="width:200px;"></a>
        <ul class="navbar-nav ">
          <li class="nav-item " style="font-size: 30px; color: black;">
            <a class="nav-link text-dark" href="home.html">HOME&nbsp&nbsp&nbsp&nbsp</a>
          </li>
          <li class="nav-item" style="font-size: 30px;">
            <a class="nav-link  text-dark" href="availEB.html">EVENTS &  BENEFITS &nbsp&nbsp&nbsp&nbsp</a>
          </li>
          <li class="nav-item" style="font-size: 30px;">
            <a class="nav-link  text-dark" href="profile.html">PROFILE&nbsp&nbsp&nbsp&nbsp</a>
          </li>
          <li class="nav-item" style="font-size: 30px;">
            <a class="nav-link  text-dark" href="aboutus.html">ABOUT</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><img src="../static/styles/img/avatar.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="profile.html">View</a></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="currentUser">StudentNum</a>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="text-bg-light p-3" style="font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <div class="container my-3">
        <div class="row">
          <h1 class="text-center" style="font-family: 'Franklin Gothic Medium'; font-size:70px;background-color:#02083d;color:white; ">AVAILABLE EVENTS</h1>
            <div class="container text-dark my-3" style="font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              <p></p>
              <div class="row">
                <div class="card">
                  <h3 class="card-header">EVENTS</h3>
                  <div class="card-body" id="divEvents">
                    <table class="table table-hover" id="evtTable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Event Name</th>
                          <th scope="col">Points</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyEvents">
                        <tr >
                          <th scope= "row"></th>
                          <td id="Event1"></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope = "row"></th>
                          <td id="Event2"></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope = "row"></th>
                          <td id="Event3"></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>


                    <div class="modal fade" id="BookEvt" tabindex="-1" aria-labelledby="EVENT REGISTRATION" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="BookEvt">Register Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">


                            <label for="eName" class="form-label" style="color: #02083d;font-size:40px;" >Event Name: </label>
                            <div class="col-sm-10">
                              <input type="text" readonly  class="form-label" id="eName" style="border:none;" required>
                            </div>
                            <label for="ePoints" class="form-label" style="color: #02083d;font-size:40px;" >Total Points: </label>
                            <div class="col-sm-10">
                              <input type="ePoints" readonly  class="form-label" id="ePoints" style="border:none;" required>
                            </div>


                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                            <button type="button" id="registerEvent" style="background-color:#f54c0a" class="btn btn-primary" data-bs-dismiss="modal" onclick="RegisterEventSave();">Register Event</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    </div>
    </div>


    <div class="text-bg-light p-3" style="font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
      <div class="container my-3">
        <div class="row">
          <h1 class="text-center" style="font-family: 'Franklin Gothic Medium'; font-size:70px;background-color:#02083d;color:white;">AVAILABLE BENEFITS</h1>
            <div class="container text-dark my-3" style="font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
              <p></p>
              <div class="row">
                <div class="card">
                  <h3 class="card-header">BENEFITS</h3>
                  <div class="card-body">
                    <table class="table table-hover" id="BenTable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Benefit Description</th>
                          <th scope="col">Points</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyBenefits">
                        <tr >
                          <th scope= "row"></th>
                          <td id="Benefit1"></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope = "row"></th>
                          <td id="Benefit2"></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope = "row"></th>
                          <td id="Benefit3"></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="modal fade" id="redeemBen" tabindex="-1" aria-labelledby="REDEEM BENEFIT" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="redeemBen">Redeem Benefit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <label for="bDisc" class="form-label" style="color: #02083d;font-size:40px;">Event Name: </label>
                            <div class="col-sm-10">
                              <input type="text" readonly  class="form-label" id="bDisc" style="border:none; width:100%; " required>
                            </div>
                            <label for="bPoints" class="form-label" style="color: #02083d; font-size:40px;" >Total Points: </label>

                            <div class="col-sm-50">
                              <input type="ePoints" readonly  class="form-label" id="bPoints" style="border:none; " required>
                            </div>

                            <div class="container my-3">
                            By clicking Confirm, you ackowledge the deduction of points.
                            Your benefit voucher will be emailed to you!
                            </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" style="background-color:#f54c0a" class="btn btn-primary" data-bs-dismiss="modal" onclick="RedBenefitSave();">Confirm</button>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>






            </div>
    </div>
    </div>
    </div>



    <div class="container-fluid p-5 text-white text-center" style="background-color: #02083d;">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img src="../static/styles/img/logo2.png" alt="Avatar Logo" style="width:100%;">
          </div>
          <div class="col-sm-3 text-center"  style="font-family: 'Franklin Gothic Medium';">
            <h2 style="color: #f54c0a;"><b>Address</b></h2>
            <p>Robert Sobukwe Rd, Bellville, Cape Town, 7535</p>
            <p>021 959 2911</p>
          </div>
          <div class="col-sm-3 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.2959386993225!2d18.62576931495849!3d-33.933515829851515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc500dde0e3503%3A0xd475bced40a7283a!2sUniversity%20of%20the%20Western%20Cape!5e0!3m2!1sen!2sza!4v1662211900909!5m2!1sen!2sza" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-sm-3 text-center"  style="font-family: 'Franklin Gothic Medium';">
            <h2 style="color: #f54c0a;"><b>Socials</b></h2>
            <a href="https://www.facebook.com/"><img src="../static/styles/img/facebook.png" alt="Avatar Logo" style="width:50px;" class="p-2"></a>
            <a href="https://www.instagram.com/"><img src="../static/styles/img/instagram.png" alt="Avatar Logo" style="width:50px;" class="p-2"></a>
            <a href="https://www.youtube.com/"><img src="../static/styles/img/youtube.png" alt="Avatar Logo" style="width:50px;" class="p-2"></a>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


    <script>

    var table = document.getElementById("evtTable");
    var rIndex;
    var eID;
    var eP;
    function selectedRow(){
      for (var i = 0; i < table.rows.length; i++) {
          table.rows[i].onclick = function(){
          rIndex = this.rowIndex;
          eID = this.cells[0].innerHTML;
          eP = this.cells[2].innerHTML;
          document.getElementById("eName").value = this.cells[1].innerHTML;
          document.getElementById("ePoints").value = this.cells[2].innerHTML;

          let myModal = new bootstrap.Modal(document.getElementById('BookEvt'), {});
          myModal.show();



        };
      }
    }

    var bCode;
    var bP;
    var benefitTable = document.getElementById("BenTable");
    function selectedBenefit(){
      for (var i = 0; i < benefitTable.rows.length; i++) {
          benefitTable.rows[i].onclick = function(){
          rIndex = this.rowIndex;
          bCode = this.cells[0].innerHTML;
          bP = this.cells[2].innerHTML;
          document.getElementById("bDisc").value = this.cells[1].innerHTML;
          document.getElementById("bPoints").value = this.cells[2].innerHTML;

          let benModal = new bootstrap.Modal(document.getElementById('redeemBen'), {});
          benModal.show();
          
        };
      }
    }




  </script>

  </body>
</html>
